[run]
branch = True
source =
    src/bot_v2
parallel = True
omit =
    **/__init__.py
    **/__main__.py
    **/scripts/**
    **/demos/**
    **/archived/**

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    raise NotImplementedError
    @overload
    def __repr__
    if __name__ == .__main__.
precision = 2
show_missing = True
skip_covered = False

[html]
directory = htmlcov
