[run]
branch = True
source =
    src/bot_v2/cli
    src/bot_v2/config
    src/bot_v2/features/brokerages/coinbase/client
    src/bot_v2/features/brokerages/coinbase/utilities
parallel = True
omit =
    **/__init__.py

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    raise NotImplementedError
    @overload
